.text-area {
    -fx-background-color: #f3f3fb;
    -fx-background-radius: 15;
    -fx-font-family: "Inter 18pt";
    -fx-font-size: 12px;
    -fx-prompt-text-fill: #7a809c;
}

.text-area:hover {
    -fx-background-color: #ebeef8;
}

.text-area .content {
    -fx-background-color: #f3f3fb;
    -fx-background-radius: 15;
}

.text-area:hover .content {
    -fx-background-color: #ebeef8;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.text-field {
    -fx-background-color: #f3f3fb;
    -fx-background-radius: 15;
    -fx-font-family: "Inter 18pt";
    -fx-font-size: 12px;
    -fx-prompt-text-fill: #7a809c;
}

.text-field:hover {
    -fx-background-color: #ebeef8;
}

.text-field-dept {
    -fx-padding: 11px 14px 11px 14px;
    -fx-text-fill: #6d7291;
}

.icon-button {
    -fx-background-color: #eff0f7;
    -fx-background-radius: 50;
    -fx-cursor: hand;
}

.icon-button:hover {
    -fx-background-color: #dddff4;
}

.icon-button:hover .fontIcon-x-mark {
    -fx-icon-color: #68789a;
}

.icon-button-dark {
    -fx-background-color: #6292ef;
    -fx-background-radius: 50;
    -fx-cursor: hand;
}

.icon-button-dark:hover {
    -fx-background-color: #75a1f5;
}

.icon-button-dark .fontIcon-x-mark {
    -fx-icon-color: #dffeff;
}

.combo-box  {
    -fx-background-color: #f3f3fb;
    -fx-background-radius: 15;
    -fx-font-family: "Inter 18pt";
    -fx-font-size: 12px;
    -fx-cursor: hand;
}

.combo-box:hover {
    -fx-background-color: #e3e7f2;
}

.combo-box .list-cell {
    -fx-text-fill: #323648;
}

.combo-box-popup {
    -fx-background-color: #f3f3fb;
    -fx-background-radius: 15;
    -fx-border-color: #d0d7e9;
    -fx-border-radius: 15;
}

.combo-box-popup .list-view {
    -fx-background-color: #f3f3fb;
    -fx-background-insets: 0;
    -fx-background-radius: 15;
    -fx-padding: 0;
    -fx-cursor: hand;
}

.combo-box-popup .list-cell {
    -fx-background-color: #f3f3fb;
    -fx-text-fill: #323648;
    -fx-font-family: "Inter 18pt";
    -fx-font-size: 12px;
    -fx-padding: 8px 15px 8px 15px;
    -fx-cursor: hand;
}

.combo-box-popup .list-cell:hover {
    -fx-background-color: #c6d7f2;
}

.date-picker {
    -fx-background-color: #f3f3fb;
    -fx-background-radius: 15;
    -fx-font-family: "Inter 18pt";
    -fx-font-size: 12px;
    -fx-padding: 4px 8px 4px 8px;
    -fx-cursor: hand;
}

.date-picker .text-field {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-prompt-text-fill: #7a809c;
    -fx-text-fill: #323648;
}

.date-picker .arrow-button {
    -fx-background-color: #f3f3fb;
    -fx-background-radius: 0 15 15 0;
}

.date-picker .arrow {
    -fx-background-color: #535a7a;
}

.date-picker:hover {
    -fx-background-color: #e3e7f2;
}

.date-picker:hover .arrow-button{
    -fx-background-color: #e3e7f2;
}

.date-picker-popup {
    -fx-background-color: #f3f3fb;
    -fx-border-color: #d0d7e9;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.date-picker-popup .calendar-grid {
    -fx-background-color: #f3f3fb;
}

.date-picker-popup .day-cell {
    -fx-background-color: #f3f3fb;
    -fx-text-fill: #323648;
    -fx-font-family: "Inter 18pt";
    -fx-font-size: 13px;
}

.date-picker-popup .day-cell:hover {
    -fx-background-color: #c6d7f2;
}

.date-picker-popup .day-cell:selected {
    -fx-background-color: #6eacfd;
    -fx-text-fill: white;
}

.button {
    -fx-cursor: hand;
}

.button-createTicket {
    -fx-background-color: #2991fa;
    -fx-background-radius: 10;
    -fx-font-family: "Inter 18pt ExtraBold";
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-padding: 10px 25px 10px 25px;
    -fx-cursor: hand;
}

.button-createTicket:hover {
    -fx-opacity: 80%;
}

.button-cancel {
    -fx-background-color: #fbf2f3;
    -fx-background-radius: 10;
    -fx-border-color: #fdb7b7;
    -fx-border-radius: 10;
    -fx-font-family: "Inter 18pt ExtraBold";
    -fx-font-size: 12px;
    -fx-text-fill: #f68989;
    -fx-padding: 10px 25px 10px 25px;
    -fx-cursor: hand;
}

.button-cancel:hover {
    -fx-background-color: #fbf2f3;
    -fx-background-radius: 10;
    -fx-border-color: #ff4646;
    -fx-border-radius: 10;
    -fx-text-fill: #ff2c2c;
    -fx-padding: 10px 25px 10px 25px;
    -fx-cursor: hand;
}

/* Adds a red border and a slight red glow to empty fields */
.error-field {
    -fx-border-color: #f48e8e;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgb(237, 102, 102, 0.4), 5, 0, 0, 0);
}

/*TICKET VIEW MODAL SECTION*/
.root {
    -ticket-code-accent: #FFCC00;
    -white: #FFFFFF;
    -subheader-accent: #94A3B8;
    -dodger-blue-bg-accent: #DBEAFE;
    -dodger-blue-accent: #3B82F6;
    -emerald-green-bg-accent: #DCFCE7;
    -emerald-green-accent: #22C55E;
    -web-orange-bg-accent: #FEF3C7;
    -web-orange-accent: #F59E0B;
    -brown-bg-accent: #efbba6;
    -brown-accent: #702d10;
    -carnation-red-bg-accent: #fddbdf;
    -carnation-red-accent: #F64E60;
    -pink-accent: #FECACA;
    -blue-violet-bg-accent: #EDE9FE;
    -blue-violet-accent: #8B5CF6;
    -orange-warning-bg-accent: #FFF6F1;
    -lightgray-bg-accent: #EFF4FB;
    -athens-gray-accent: #E5E7EB;
}

.ticket-code {
    -fx-font-size: 11px;
    -fx-text-fill: -ticket-code-accent;
    -fx-font-family: "Inter 18pt ExtraBold";
}

.ticket-title {
    -fx-text-fill: -white;
    -fx-font-family: "Inter 18pt ExtraBold";
    -fx-font-size: 22px;
}

.badge-container {
    -fx-background-color: -lightgray-bg-accent;
}

.subheader-label {
    -fx-font-size: 11px;
    -fx-font-family: "Inter 18pt ExtraBold";
    -fx-text-fill: -subheader-accent;
}

.desc-text-label {
    -fx-font-family: "Inter 18pt Regular";
    -fx-font-size: 12px;
}

.subheader-blue-label {
    -fx-font-family: "Inter 18pt ExtraBold";
    -fx-text-fill: -dodger-blue-accent;
    -fx-font-size: 11px;
}

.assigned-to-container {
    -fx-background-color: -athens-gray-accent;
}

.separator .line {
    -fx-border-color: -athens-gray-accent;
    -fx-border-width: 0.5px;
}

.timeline-card {
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-border-color: -athens-gray-accent;
}

.bold-text {
    -fx-font-family: "Inter 18pt ExtraBold";
}

.subtext-light {
    -fx-font-family: "Inter 18pt Regular";
    -fx-text-fill: #9fa4b1;
    -fx-font-size: 11px;
}

.department-container {
    -fx-background-color: -lightgray-bg-accent;
    -fx-background-radius: 10px;
}



/*MEMBER DASHBOARD SECTION*/
.left-sidebar-subheader {
    -fx-text-fill: #5b678e;
    -fx-font-family: "Inter 18pt SemiBold";
    -fx-font-size: 11px;
}

.left-sidebar-row-container {
    -fx-spacing: 10px;
    -fx-cursor: hand;
    -fx-background-radius: 10px;
}

.left-sidebar-row-container.clicked{
    -fx-background-color: #283256;
}

.left-sidebar-row-container:hover {
    -fx-background-color: #283256;
}

.left-sidebar-row-container .ikonli-font-icon {
    -fx-icon-color: #a1aed1;
    -fx-icon-size: 14;
}

.left-sidebar-row-container .label {
    -fx-font-family: "Inter 18pt SemiBold";
    -fx-font-size: 14px;
    -fx-text-fill: #a1aed1;
}

.sort-buttons-container .button{
    -fx-font-family: "Inter 18pt SemiBold";
    -fx-text-fill: #0c1a42;
    -fx-font-size: 11px;
    -fx-background-color: white;
    -fx-background-radius: 50px;
    -fx-border-width: 1px;
    -fx-border-color: #dedede;
    -fx-border-radius: 50px;
    -fx-cursor: hand;
}

.sort-buttons-container .button:hover {
    -fx-background-color: -athens-gray-accent;
}

.sort-buttons-container .button.all-filter-style {
    -fx-border-width: 0;
    -fx-text-fill: white;
    -fx-background-color: #0c1c3b;
}

.sort-buttons-container .button.available-filter-style {
    -fx-border-width: 0;
    -fx-text-fill: white;
    -fx-background-color: #48c7cb;
}

.sort-buttons-container .button.todo-filter-style {
    -fx-border-width: 0;
    -fx-text-fill: white;
    -fx-background-color: #2f95ff;
}

.sort-buttons-container .button.inprogress-filter-style {
    -fx-border-width: 0;
    -fx-text-fill: white;
    -fx-background-color: #ff9900;
}

.sort-buttons-container .button.overdue-filter-style {
    -fx-border-width: 0;
    -fx-text-fill: white;
    -fx-background-color: -carnation-red-accent;
}

.sort-buttons-container .button.returned-filter-style {
    -fx-border-width: 0;
    -fx-text-fill: white;
    -fx-background-color: #702d10;
}

.sort-buttons-container .button.completed-filter-style {
    -fx-border-width: 0;
    -fx-text-fill: white;
    -fx-background-color: -emerald-green-accent;
}

.sort-buttons-container .button.resolved-filter-style {
    -fx-border-width: 0;
    -fx-text-fill: white;
    -fx-background-color: -blue-violet-accent;
}



